<strong>Olá, {{ organizer }}!</strong>
<p>Um novo usuário se inscreveu para seu meetapp: {{ meetapp }}.</p>
<p>
  <strong>Nome: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>